[run]
branch = True
source = fhirbug

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
    fhirbug/Fhir/*

[html]
directory = cover
