<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/index.css" />
        <link
            href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|News+Cycle"
            rel="stylesheet"
        />
        <script src="/static/xml-formatter.js"></script>

        <!--
            React
        -->
        <script
            crossorigin
            src="https://cdn.jsdelivr.net/npm/create-react-class@15.6.3/create-react-class.min.js"
        ></script>
        <script
            crossorigin
            src="https://unpkg.com/react@16/umd/react.production.min.js"
        ></script>
        <script
            crossorigin
            src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"
        ></script>
        <!--
            <script
                crossorigin
                src="https://unpkg.com/react@16/umd/react.development.js"
            ></script>
            <script
                crossorigin
                src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
            ></script>
        -->

        <!--
            Fathom - simple website analytics - https://github.com/usefathom/fathom
        -->
        <script>
            (function(f, a, t, h, o, m) {
                a[h] =
                    a[h] ||
                    function() {
                        (a[h].q = a[h].q || []).push(arguments);
                    };
                (o = f.createElement("script")),
                    (m = f.getElementsByTagName("script")[0]);
                o.async = 1;
                o.src = t;
                o.id = "fathom-script";
                m.parentNode.insertBefore(o, m);
            })(document, window, "//fathom.zenmix.in/tracker.js", "fathom");
            fathom("set", "siteId", "DKGTO");
            fathom("trackPageview");
        </script>
        <!-- / Fathom -->
    </head>

    <body>
        <header class="hero">
            <h1>Fhirbug</h1>
            <h2>Welcome to fhirbug's FHIR v4 demo API</h2>
            <h3>
                try it now at:
                <pre>fhirbug.zenmix.in/r4/</pre>
            </h3>
            <nav>
                • <a href="#about">about fhirbug</a> •
                <a href="#info">server info</a> •
                <a href="#examples">examples</a> •
                <a href="#live">try live</a> •
                <a href="https://github.com/zensoup/fhirbug"
                    ><img
                        src="/static/GitHub-Mark-32px.png"
                        style="vertical-align: middle; padding-right: 1px;"
                        height="15"
                    />
                    source
                </a>
                •
            </nav>
            <div class="badges">
                <img
                    alt="travis status"
                    src="https://img.shields.io/travis/zensoup/fhirbug.svg?style=for-the-badge"
                />
                <img
                    alt="documentation"
                    src="https://img.shields.io/readthedocs/fhirball.svg?style=for-the-badge"
                />
                <img
                    alt="code coverage"
                    src="https://img.shields.io/codecov/c/gh/zensoup/fhirbug.svg?style=for-the-badge"
                />
                <img
                    alt="server uptime"
                    src="https://img.shields.io/uptimerobot/ratio/7/m781949031-75e2433871705dedbb7b751d.svg?label=server%20uptime&style=for-the-badge"
                />
            </div>
        </header>
        <main class="document">
            <section class="panel" id="about">
                <div class="panel-title">About Fhirbug</div>
                <div class="panel-content">
                    Fhirbug intends to be a full-featured FHIR server for python
                    >= 3.6. It has been designed to be easy to set up and
                    configure and be flexible when it comes to the rest of tools
                    it is combined with, like web frameworks and database
                    interfaces. In most simple cases, very little code has to be
                    written apart from field mappings.
                    <h3>Resources</h3>
                    <ul class="resource-list">
                        <li>
                            <a href="https://github.com/zensoup/fhirbug"
                                >Code on github</a
                            >
                        </li>
                        <li>
                            <a href="https://fhirbug.readthedocs.io/en/latest/"
                                >Documentation on Read the Docs</a
                            >
                        </li>
                        <li>
                            <a href="https://www.hl7.org/fhir/">About FHIR</a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="panel" id="info">
                <div class="panel-title">Server Info</div>
                <div class="panel-content">
                    This demo server is running the on the docker image of
                    <b>fhirbug</b>'s <em>pymodm autogenreated</em> example. All
                    of the code can be found in the project's github page, in
                    the folder
                    <a
                        href="https://github.com/zensoup/fhirbug/tree/master/examples/pymodm_autogenerated"
                        >examples/pymodm_autogenerated</a
                    >. <br />
                    The server has been seeded with data from the resource
                    examples provided at
                    <a href="https://www.hl7.org/fhir/"
                        >https://www.hl7.org/fhir/</a
                    >. You can create, delete and modify data on the server,
                    however it is reset at regular intervals so don't be
                    surprised if something you saved disappears.
                </div>
            </section>
            <section class="panel" id="live">
                <div class="panel-title">
                    Try it Live <span class="maximize"></span>
                </div>
                <div class="panel-content" id="live-server"></div>
            </section>
            <section class="panel" id="examples">
                <div class="panel-title">Examples</div>
                <div class="panel-content">
                    <h3>Bundles and Pagination</h3>
                    <p>Get 3 items per page, starting from the 10th:</p>
                    <pre>/r4/Procedure?_count=3&search-offset=10</pre>
                    <span
                        class="try-btn"
                        data-endpoint="Procedure?_count=3&search-offset=10"
                        >try it</span
                    >
                    <h3>Date searches</h3>
                    <p>Use a partial date to search through a time period:</p>
                    <pre>/r4/Patient?birthDate=1960</pre>
                    <span class="try-btn" data-endpoint="Patient?birthDate=1960"
                        >try it</span
                    >
                    <p>
                        Get all the observations that occured between 8 and 9 am
                        on a specific date:
                    </p>
                    <pre>/r4/Observation?effectiveDateTime=gt2015-02-19T08</pre>
                    ...
                    <pre>&effectiveDateTime=lt2015-02-19T09</pre>
                    <span
                        class="try-btn"
                        data-endpoint="Observation?effectiveDateTime=gt2015-02-19T08&effectiveDateTime=lt2015-02-19T09"
                        >try it</span
                    >
                    <h3>More query modifiers</h3>
                    <p>Receive only specific attributes</p>
                    <pre>/r4/QuestionnaireResponse?_elements=source</pre>
                    <span
                        class="try-btn"
                        data-endpoint="QuestionnaireResponse?_elements=source"
                        >try it</span
                    >
                </div>
            </section>
        </main>
        <a href="https://github.com/zensoup/fhirbug"
            ><img
                src="/static/forkme_right_white_ffffff.svg"
                style="position:absolute;top:0;right:0;"
                alt="Fork me on GitHub"
        /></a>
        <script type="text/javascript" src="/static/index.js"></script>
    </body>
</html>
