<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/index.css" />
        <link
            href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|News+Cycle"
            rel="stylesheet"
        />
        <script
            crossorigin
            src="https://unpkg.com/react@16/umd/react.development.js"
        ></script>
        <script
            crossorigin
            src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
        ></script>
        <script
            crossorigin
            src="https://cdn.jsdelivr.net/npm/create-react-class@15.6.3/create-react-class.min.js"
        ></script>
        <!--
            <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
            <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
        -->
    </head>

    <body>
        <header class="hero">
            <h1>Fhirbug</h1>
            <h2>Welcome to fhirbug's FHIR v4 demo API</h2>
            <h3>
                try it now at:
                <pre>fhirbug.zenmix.in/r4/</pre>
            </h3>
            <nav>
                • <a href="#about">about</a> • <a href="#info">info</a> •
                <a href="#examples">examples</a> •
                <a href="#live">try live</a> •
                <a href="https://github.com/zensoup/fhirbug"
                    ><img
                        src="/static/GitHub-Mark-32px.png"
                        style="vertical-align: middle; padding-right: 1px;"
                        height="16"
                    />
                    code
                </a>
                •
            </nav>
            <div class="badges">
                <img
                    alt="travis status"
                    src="https://img.shields.io/travis/zensoup/fhirbug.svg?style=for-the-badge"
                />
                <img
                    alt="documentation"
                    src="https://img.shields.io/readthedocs/fhirball.svg?style=for-the-badge"
                />
                <img
                    alt="code coverage"
                    src="https://img.shields.io/codecov/c/gh/zensoup/fhirbug.svg?style=for-the-badge"
                />
                <img
                    alt="server uptime"
                    src="https://img.shields.io/uptimerobot/ratio/7/m781949031-75e2433871705dedbb7b751d.svg?label=server%20uptime&style=for-the-badge"
                />
            </div>
        </header>
        <main class="document">
            <section class="panel" id="about">
                <div class="panel-title">About Fhirbug</div>
                <div class="panel-content">
                    Fhirbug intends to be a full-featured FHIR server for python
                    >= 3.6. It has been designed to be easy to set up and
                    configure and be flexible when it comes to the rest of tools
                    it is combined with, like web frameworks and database
                    interfaces. In most simple cases, very little code has to be
                    written apart from field mappings.
                    <h3>Resources</h3>
                    <ul class="resource-list">
                        <li>
                            <a href="https://github.com/zensoup/fhirbug"
                                >Code on github</a
                            >
                        </li>
                        <li>
                            <a href="https://fhirbug.readthedocs.io/en/latest/"
                                >Documentation on Read the Docs</a
                            >
                        </li>
                        <li>
                            <a href="https://www.hl7.org/fhir/">About FHIR</a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="panel" id="info">
                <div class="panel-title">Server Info</div>
                <div class="panel-content">
                    This demo server is running the on the docker image of
                    <b>fhirbug</b>'s <em>pymodm autogenreated</em> example. All
                    of the code can be found in the project's github page, in
                    the folder
                    <a
                        href="https://github.com/zensoup/fhirbug/tree/master/examples/pymodm_autogenerated"
                        >examples/pymodm_autogenerated</a
                    >. <br />
                    The server has been seeded with data from the resource
                    examples provided at
                    <a href="https://www.hl7.org/fhir/"
                        >https://www.hl7.org/fhir/</a
                    >. You can create, delete and modify data on the server,
                    however it is reset at regular intervals so don't be
                    surprised if something you saved disappears.
                </div>
            </section>
            <section class="panel" id="examples">
                <div class="panel-title">Examples</div>
                <div class="panel-content"></div>
            </section>
            <section class="panel" id="live">
                <div class="panel-title">Try it Live <span class="maximize"></span></div>
                <div class="panel-content" id="live-server"></div>
            </section>
        </main>
        <a href="https://github.com/zensoup/fhirbug"
            ><img
                src="/static/forkme_right_white_ffffff.svg"
                style="position:absolute;top:0;right:0;"
                alt="Fork me on GitHub"
        /></a>
        <script type="text/javascript" src="/static/index.js"></script>
    </body>
</html>
