* {
  padding: 0;
  margin: 0;
}
body {
  background: #e3e3e3;
  font-family: "News Cycle", sans-serif;
}
body .document {
  max-width: 1140px;
  margin: auto;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.hero {
  background: red;
  background: #5db9c6;
  padding: 1em;
}
.hero h1 {
  font-size: 38pt;
  padding: 1em 0 0.2em;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}
.hero h2, .hero h3 {
  padding: 0 0.6em;
  color: rgba(0, 0, 0, 0.64);
  text-align: center;
}
.hero h2 pre, .hero h3 pre {
  display: inline-block;
}
.hero .badges {
  text-align: center;
}
.hero .badges img {
  transform: scale(0.8);
}
.hero nav {
  font-size: 14pt;
  margin: 3.2em auto 2.2em;
  text-align: center;
  justify-content: space-around;
}
.hero nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.4s;
}
.hero nav a:hover {
  color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.8);
}
.panel {
  width: calc(50% - 20px);
  background: white;
  min-height: 200px;
  margin: 10px;
  box-shadow: 5px 5px 5px 5px rgba(157, 157, 157, 0.3);
  transition: all 0.4s;
}
.panel.large {
  width: calc(100% - 20px);
}
.panel.large .panel-title .maximize:after {
  content: "🗕";
}
.panel .panel-title {
  background: #373946;
  color: white;
  font-weight: bold;
  padding: 5px;
}
.panel .panel-title .maximize {
  float: right;
  cursor: pointer;
}
.panel .panel-title .maximize:after {
  content: "🗖";
}
.panel .panel-content {
  padding: 1em;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.8);
}
.panel .panel-content h3 {
  margin-top: 5px;
  text-align: left;
  color: #d7c879;
}
.panel .panel-content .resource-list {
  list-style: none;
}
.panel a {
  color: #5db9c6;
}
.panel a:hover {
  color: #12c2db;
}
.panel pre {
  margin-top: 6px;
  display: inline-block;
  border: 1px solid rgba(18, 194, 219, 0.33);
  background: rgba(0, 0, 0, 0.08);
  padding: 2px 7px;
}
.panel .try-btn {
  float: right;
  padding: 0 1em;
  border-radius: 0;
  background: white;
  cursor: pointer;
  border: 1px solid #4c1;
  background: white;
  color: #4c1;
  transition: all 0.3s;
}
.panel .try-btn:hover {
  background: #4c1;
  color: white;
}
@media screen and (max-width: 1000px) {
  .panel {
    width: calc(100% - 20px);
  }
}
#live-server label, #live-server details {
  font-size: 0.9em;
  margin-right: 1em;
  color: #373946;
  font-weight: bold;
}
#live-server input[type="text"] {
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 3px;
  flex: 1;
  color: rgba(0, 0, 0, 0.64);
}
#live-server .row {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  display: flex;
  position: relative;
}
#live-server .row select {
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 3px;
  background: white;
}
#live-server .row button {
  border-radius: 0;
  padding: 3px;
  background: white;
  cursor: pointer;
  border: 1px solid #12c2db;
  background: white;
  color: #12c2db;
  transition: all 0.3s;
}
#live-server .row button:hover {
  background: #12c2db;
  color: white;
}
#live-server .row details {
  flex: 1;
  cursor: pointer;
}
#live-server .row textarea {
  width: 100%;
}
#live-server .row textarea.output {
  min-height: 250px;
}
#live-server .row .add-header-btn {
  margin-left: auto;
  width: 2em;
  height: 2em;
}
#live-server .row .submit-btn {
  padding-left: 1em;
  padding-right: 1em;
}
#live-server .headers-container {
  display: flex;
  flex-direction: column;
}
#live-server .headers-container .header-row {
  display: flex;
  margin-top: 0.7em;
}
#live-server .headers-container .header-row .header-col:nth-child(1) {
  width: 30%;
  flex: none;
  margin-right: 3px;
}
#live-server .headers-container .header-row .header-col:nth-child(2) {
  flex: 1;
}
#live-server .headers-container .header-row .header-col.remove {
  padding: 3px;
  cursor: pointer;
}
#live-server .headers-container .header-row .header-col.remove:after {
  content: '❌';
}
